In [73]:
word = 'Alex'
middle_index = len(word)//2
# print(middle_index)

if len(word) % 2 != 0:
    print(word[middle_index])
else:
    print(word[middle_index-1:middle_index+1])

le

In [75]:
user_input = int(input('Введите число: '))
input_list = [user_input]

while user_input !=0:
    user_input = int(input('Введите число: '))
    input_list.append(user_input)

print('Результат: ', sum(input_list))

Введите число: 1
Введите число: 0
Результат:  1

In [3]:
# второй вариант решения задачи

input_list = [0]

while True:
    user_input = int(input('Введите число: '))
    input_list.append(user_input)
    if user_input ==0: 
        print('Результат: ', sum(input_list))
        break

Введите число: 0
Результат:  0

In [43]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Max']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha', 'Lena']
print('Результат:')
print()

if len(boys) == len(girls):
    print('Идеальные пары:')
    for boy in sorted(boys):
        index = sorted(boys).index(boy)
        print(boy, ' и ',sorted(girls)[index])
else: 
    print('Внимание, кто-то может остаться без пары!')

Результат:

Идеальные пары:
Alex  и  Emma
Arthur  и  Kate
John  и  Kira
Max  и  Lena
Peter  и  Liza
Richard  и  Trisha

In [5]:
# второй вариант решения

boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Max']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha', 'Lena']
print('Результат:')
print()

if len(boys) == len(girls):
    print('Идеальные пары:')
    pairs = list(zip(sorted(boys), sorted(girls)))
    print(pairs)
else: 
    print('Внимание, кто-то может остаться без пары!')

Результат:

Идеальные пары:
[('Alex', 'Emma'), ('Arthur', 'Kate'), ('John', 'Kira'), ('Max', 'Lena'), ('Peter', 'Liza'), ('Richard', 'Trisha')]

In [68]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

# (Фаренгейт — 32) : 1,8 = Цельсий 

for country in countries_temperature:
    print (country[0], ' - ', round((sum(country[1])/len(country[1]) - 32) / 1.8,1), 'C')

Thailand  -  23.9 C
Germany  -  13.8 C
Russia  -  3.7 C
Poland  -  12.0 C

In [64]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

In [ ]:
stream = [
'2018-01-01,user100,150',
'2018-01-07,user99,205',
'2018-03-29,user1001,81'
]

In [ ]:
stream2 = []
views = 0
users = []

for log in stream:
    stream2.append(log.split(','))

    
for row in stream2:
    user = row[1]
    if user not in users:
        users.append(user)
    views += + int(row[2])

print('Результат:')
print('Среднее количество просмотров на уникального пользователя ', round(views/len(users),2))

In [7]:
numbers=[]

input_string = str(input('Введите числа, разделенные пробелом '))

input_list = input_string.split(' ')

for number in input_list:
    if (input_list.count(number)>1) and (number not in numbers):
        numbers.append(number)

print('Результат:')
print(numbers)

Введите числа, разделенные пробелом 1 1 1 1 1 2 2 2
Результат:
['1', '2']